.user-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.ai-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.user-message {
  max-width: 700px;
  background: #2563eb;
  color: white;
  padding: 8px 8px;
  border-radius: 10px;
  word-break: break-word;
  font-size: 16px;
}

.ai-message {
  max-width: 850px;
  background: white;
  padding: 8px 8px;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  word-break: break-word;
  font-size: 16px;
}

.copy-btn {
  float: right;
  margin-bottom: 12px;
  border: none;
  background: #202123;
  color: white;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.copy-btn:hover {
  background: #343541;
}

.ai-message h1 {
  font-size: 26px;
  margin-bottom: 12px;
}

.ai-message h2 {
  font-size: 22px;
  margin-bottom: 12px;
}

.ai-message h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.ai-message p {
  line-height: 1.7;
  margin-bottom: 10px;
}

.ai-message ul,
.ai-message ol {
  padding-left: 25px;
  margin-bottom: 10px;
}

.ai-message li {
  margin-bottom: 6px;
}

.ai-message pre {
  border-radius: 10px;
  overflow-x: auto;
  margin-top: 10px;
}